input{
    width: 200px;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;

}

input:active, input:focus {
    border-color: #66afe9;
    background-color: aquamarine;
    outline: none;
}